.counterName {
  text-align: center;
  font-size: 14px;
  color: var(--text-color);
}

.counterCircle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 100px;
  align-items: center;
  border: 3px solid #29a19c;
  border-radius: 50%;
}

.counter {
  margin: 0 auto;
  font-size: 36px;
  color: #29a19c;
}

.counterText {
  margin: 0 auto;
  font-size: 12px;
  color: var(--text-color);
}
