.weeklyProgressBlock {
  margin: 30px;
  padding: 20px;
  width: 40%;
  background-color: var(--component-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.weeklyProgressText {
  color: #29a19c;
  font-size: 18px;
  margin: 0;
}
