.todoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #2c3440;
}

.todoHeaderText {
  color: #29a19c;
  font-size: 30px;
}

.todoLogo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.todoIcon {
  margin-right: 5px;
  font-size: 30px;
  color: #29a19c;
}
