.todoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: var(--component-color);
  box-shadow: var(--box-shadow);
}

.todoHeaderText {
  color: #29a19c;
  font-size: 30px;
}

.todoLogo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.todoIcon {
  margin-right: 5px;
  font-size: 30px;
  color: #29a19c;
}

.themeButton {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.themeIcon {
  margin-left: 35px;
  width: 24px;
  height: 24px;
}
