.todoNavBar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  font-size: 16px;
}

.addCategorieIcon {
  color: #29a19c;
  font-size: 16px;
  margin-right: 5px;
}

.navBarButton {
  display: flex;
  align-items: center;
  color: #29a19c;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}
