@font-face {
  font-family: 'Nunito'; /* Название шрифта, которое вы будете использовать в CSS */
  src: url('/src/fonts/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #222831;
  color: #ffff;
  font-family: 'Nunito';
}
