.todoFormContainer {
  margin-top: 10px;
}

.todoFormContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoFormContainer input {
  background-color: transparent;
  width: 100%;
  font-size: 14px;
  color: #fff;
  border: 2px solid #fff;
  padding: 8px 15px;
  border-radius: 5px;
}
